//- header
//-     .container-base
//-         div.header-container
//-             div.brand-img-container
//-                 img(src="/assets/images/brand-name.jpg" alt="" class="header-image" style='height: 100%; width: 100%;')
//-                 //- img(src="/assets/images/banner-sses.png" alt="" class="header-image" style='height: 100%; width: 100%;')
//-             .header-marquee
//-                 p For technical help
//-                 p Email: #{p.help_email_id} 
//-                 p Phone:+91 #{p.help_mobile_number}(10:00 AM to 05:00 PM)

.container
        div.row.header-container.g-2
            div.col-12.col-md-8
                img(src="/assets/images/brand-name.jpg" alt="" class="brand-image" style='height: 100%; width: 100%;')
            .col-12.col-md-4
                .header-marquee
                    p For technical help
                    p Email: #{p.help_email_id} 
                    p Phone:+91 #{p.help_mobile_number}(10:00 AM to 05:00 PM)