
div.profileIcon
    //- div
    //-     label.input-label UserId&nbsp;:&nbsp; #{regIDInt}  
    //-     label.input-label Username&nbsp;:&nbsp; #{userName}
    //-     if regPostName
    //-         label.input-label.profileName Post : #{regPostName}

    div.d-flex.justify-content-end
        //- a.c-button.c-btn-primary(href='/home') Home
        button#logout.fw-bold.btn.btn-danger.btn-sm Logout